$line-height: 1.125;

html,
body {
  font-size: 16px;
  line-height: $line-height;
  user-select: none;
}

.wrapper {
  background-color: transparent;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.eye {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate3d(-50%, -50%, 0);
}

.eyeline {
  font-family: 'Fira Mono';
  font-weight: bold;
  margin: 0;
  min-height: #{$line-height}em;
  padding: 0;
}

